<html>
    <body>
        <form id="name_form">
            <label>First Name:</label><input type="text" first="first_name"/>
            <br/>
            <label>Last Name:</label><input type="text" last="last_name"/>
            <br/>
            <label>Time:</label><input type="text" time="time_name"/>
            <br/>
            <select id ="combo">
             <option value="opcao1" selected >Meio-campista</option>
             <option value="opcao2">Atacante</option>
             <option value="opcao3">Zagueiro</option>
             <option value="opcao4">Goleiro</option>
            </select>
            <input type="submit" value="submit" />
        </form>
         <input type="text" id="resp" name="resp" />
        
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript">
            $('#name_form').submit(function(e) {
                    e.preventDefault();

                    var dados = {
                       first: $('[first=first_name]').val(),
                       last:$('[last=last_name]').val(),
                       time:$('[time=time_name]').val(),
                       combo: $('#combo option:selected').val()
                    }

                    $.ajax({
                        type: 'POST',
                        url: '/api/chato',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(dados),
                        success: function(callback) {
                            console.log(callback);
                            $('#resp').val('respondeu: ' + callback.first + callback.last + callback.time);
                        },
                        error: function() {
                            $(this).html("error!");
                        }
                    });
                });
        </script>
    </body>
</html>